.done-loading {
	display: none;
}

.navbar {
	background-color: #333;
	height: 3.2rem;
}

.navbar a {
	display: block;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar-right {
	float: right;
	white-space: nowrap;
}

.navbar-right img {
	padding: none;
	height: 20px;
	width: auto;
}

.navbar-right * {
	display: inline-block;
}

.pad-heavy {
	padding: 16px 16px;
}

.align-top {
	vertical-align: top;
}

.side-by-side {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.gold, .navbar a.active, .navbar a:hover {
	background-color: rgb(173, 131, 0);
	color: white;
	border-width: 0;
	box-shadow: 0 4px 8px 0 rgba(143, 117, 51, 0.5), 0 6px 20px 0 rgba(143, 117, 51, 0.5);
}

.error {
	color: red;
}

.clicky {
	cursor: pointer;
}
.clicky:hover {
	background-color: rgb(58, 65, 77);
	box-shadow: 0 4px 8px 0 rgba(57, 63, 74, 1), 0 6px 20px 0 rgba(57, 63, 74, 1);
}

.right-center {
	text-align: right;
	width: max-content;
	margin: auto;
}

.sub-header {
	color: #999 !important;
}

.white-gold {
	color: rgb(255, 235, 155);
}

.vert-top {
	vertical-align: top;
	margin-top: 2px;
}

.content {
	max-width: max-content;
	margin: auto;
}

.logo {
	margin-top: -0.3rem;
	margin-bottom: 0;
	font-weight: bolder;
	font-size: 1.5rem;
	color: rgb(255, 235, 155);
	/*box-shadow: 0 4px 8px 0 rgba(143, 117, 51, 0.5), 0 6px 20px 0 rgba(143, 117, 51, 0.5);*/
}

body {
	font-family: sans-serif;
	background-color: #222;
	color: #eee;
	padding: 16px;
	cursor: default;
}

table, table th, table td {
	border-collapse: collapse;
	border: 1px solid rgb(57, 63, 74);
	padding: 12px;
}

table {
	box-shadow: 0 4px 8px 0 rgba(57, 63, 74, 0.5), 0 6px 20px 0 rgba(57, 63, 74, 0.5);
}

.banded-table tbody:nth-of-type(even) {
	background-color: rgb(42, 46, 54);
}
.banded-table tbody:nth-of-type(odd) {
	background-color: rgb(33, 35, 38);
}

a:link, a:visited {
	color: rgb(215, 215, 215);
}

h1 {
	margin-bottom: 0;
}

button, input, textarea {
	background-color: #222;
	border-color: rgb(57, 63, 74);
	border-style: solid;
	border-width: thin;
	padding: 12px;
	margin: 4px;
	color: #ddd;
	box-shadow: 0 4px 8px 0 rgba(57, 63, 74, 1), 0 6px 20px 0 rgba(57, 63, 74, 1);
}

button, input[type=button], input[type=submit] {
	background-color: rgb(42, 46, 54);
	cursor: pointer;
	text-align: center;
}

input, textarea {
	min-width: 250px;
}

label {
	margin: 4px;
}

.bottom-text {
	margin-top: 200px;
}
