.done-loading {
	display: none;
}

.navbar {
	position: relative;
	background-color: #333;
	overflow: hidden;
}

.navbar a {
	display: block;
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: rgb(217, 155, 0);
}
  
.navbar a.active {
	background-color: rgb(217, 155, 0);
	color: white;
}

.navbar-right {
	float: right;
	white-space: nowrap;
}

.navbar-right img {
	padding: none;
	height: 20px;
	width: auto;
}

.navbar-right * {
	display: inline-block;
}

.navbar-right .unbreak {
	padding: 16px 16px;
	vertical-align: top;
}

.error {
	color: red;
}

.clicky {
	cursor: pointer;
}
.clicky:hover {
	background-color: rgb(217, 155, 0);
}

.right-center {
	text-align: right;
	width: max-content;
	margin: auto;
}

.sub-header {
	color: #999;
}

.white-gold {
	color: rgb(255, 235, 185);
}

.content {
	max-width: max-content;
	margin: auto;
}

body {
	font-family: sans-serif;
	background-color: #222;
	color: #eee;
}

table, table th, table td {
	border-collapse: collapse;
	border: 1px solid #aaa;
	padding: 4px;
}

a:link, a:visited {
	color: rgb(215, 215, 215);
}

h1 {
	margin-bottom: 0;
}
