.done-loading {
	display: none;
}

.error {
	color: red;
}

.clicky {
	cursor: pointer;
	background-color: #fff;
}
.clicky:hover {
	background-color: rgb(255, 241, 194);
}

body {
	font-family: sans-serif;
}

table, table th, table td {
	border: 1px solid #333;
}
